{% comment %}
    Renders a list of products from a collection

    Accepts:
    - collection: {Object} Collection Liquid object (required)

    Usage:
    {% include 'wink-collection-item', collection: collection %}
{% endcomment %}
{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.media != empty %}
  {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}

<div class="wink-collection-item">
    {% unless collection_image == blank %}
      <img class="wink-collection-item-image" src="{{ collection_image | img_url: '1024x1024' }}"></img>
    {% else %}
      {% if collection == empty %}
        <div class="wink-collection-item-catpure">
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
        <div class="wink-collection-item-overlay" style="background-image: url('{{ collection_image | img_url: '1024x1024' }}')"></div>
      {% endif %}
    {% endunless %}

    <div class="wink-collection-item-title-wrapper">
      <div class="wink-collection-item-title">
        {% if collection.title == blank %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% else %}
        <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}">
          	{{ collection.title }}
        </a>
        {% endif %}
      </div>
    </div>
</div>

<style>
  .wink-collection-item {
    width: 100%;
    height: 100%;
  }
  .wink-collection-item-image-data {
    width: 100%;
    height: 100%;
  }
  .wink-collection-item-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  .wink-collection-item-catpure {
  }
  .wink-collection-item-overlay {
  }
  .wink-collection-item-title-wrapper {
  }
  .wink-collection-item-title {
    font-family: 'Bodoni Moda', serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 8px;
    cursor: pointer;
    color: #464545;
  }
</style>